
<footer>
    <div class="footer-inner container">
        <div class="row">
            <div class="col-4">
                <div class="co-info">
                    <address>
                        <div class="icon"> <span>Digital House Grupo 7</span></div>
                    </address>
                </div>
            </div>   
            <div class="col-6 ">                                                         
                <div class="first-topics">                  
                    <ul class="footer-ul">
                        <li><a class="format" href="" title="Quienes Somos">Quienes Somos</a></li>
                        <li><a class="format" href="" title="Contacto">Contacto</a></li>
                        <li><a class="format" href="" title="Política de Privacidad">Política de Privacidad</a></li>
                        <li><a class="format" href="" title="Términos y Condiciones">Términos y Condiciones</a></li>
                    </ul>        
                </div>
            </div>
            <div class="col-2">
                <div class="QR">
                    <a href=""> <img  heigth="130" width="130" src="../images/Commons_QR_code.png" /> </a>
                </div>
            </div>
        </div>
        <!--row-->
    </div>
      <!--container-->
    <div class="footer-end">
        <p class="copyright">©  2020 Digital House - Desarrollado por Grupo7 </p>
    </div>

</footer>