<header> 

  <div class="assetBlock" >
    <p>Simple, fresco y online.</p>
  </div>
  <div class='header-inner'>
    <div class="header-container"><div>     
  </div>
  <div class="logo">
    <a href="/Home">
		<img alt="Digital House" height="125"  src="../images/VerduLogo.jpg"></a>
	</div>


<!-- EN LOS SRC DEBEMOS PONER LOS VINCULOS A LAS OTRAS PAGINAS -->


<div class="nav"> 
  <div class="nav-menu"> <a href="/users/create"><p>REGISTRATE</p></a> </div>
  <div class="nav-menu"><a href="/users/login"> <p>MI CUENTA</p></a> </div>
  <div class="nav-menu"><a href=""> <p>OFERTAS</p></a> </div>
  <div class="nav-menu"><a href="/prod/Prod"><p>ALTAS</p></a> </div>
  <div class="basket"> 
    <button> <a> <img width="60" height="60"alt="Carro" src="../images/Carrito.png"></button>
  </div>
</div>
</header>
  <div class="page-heading">
    <h2><%= title %></h2>   
  </div>

