<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/header', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header-navbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="col-12">
			
			<div class="alert alert-danger" role="alert">
				
			</div>
			
			<form action="/users/login" method="POST">
				<div class="row product-detail">
					<div class="form-group col-12 col-md-6">
						<label for="email" class="form-label">e-Mail:</label>
						<input type="text" id="email" name="email" placeholder="Ej: luis@gmail.com" class="form-control">
					</div>
					<div class="form-group col-12 col-md-6">
						<label for="password" class="form-label">Contraseña:</label>
						<input type="password" id="password" name="password" class="form-control">
					</div>
					<div class="col-12">
						<button type="submit" class="btn btn-success">Ingresar</button>
					</div>
				</div>
				 	<br>
					<label for="recordar">¿Desea mantener sesión iniciada?</label>
		        	<input type="checkbox" value="recordar" name="recordar" id="recordar">
		        	<br>
			</form>
			
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>