<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/header', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header-navbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
		</div>
		<div class="col-12">
			
			<div class="alert alert-danger" role="alert">
				
			</div>
			
			<form action="/users/login" method="POST">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="email" class="form-label">E-Mail:</label>
						<input type="text" id="email" name="email" placeholder="Ej: carlos@mercadoliebre.com" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="password" class="form-label">Password:</label>
						<input type="password" id="password" name="password" class="form-input">
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Ingresar</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>