<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/header', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header-navbar') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Nuevo usuario</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/users/create" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Carlos" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="lastname" class="form-label">Apellido:</label>
						<input type="text" id="lastname" name="lastname" placeholder="Ej: García" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="email" class="form-label">E-Mail:</label>
						<input type="text" id="email" name="email" placeholder="Ej: carlos@mercadoliebre.com" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="password" class="form-label">Password:</label>
						<input type="password" id="password" name="password" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="imagenPerfil" class="form-label">Imagen de perfil:</label>
						<input type="file" name="perfil" id="imagenPerfil">
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Registrarme</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>