<%- include('partials/header'); %>
<body>
    
    <div class="alert alert-danger" role="alert">
        No puedes entrar aquí! Prueba  <a href="/users/login" class="alert-link">entrando a tu cuenta</a>. Muchas gracias!
      </div>
    
    
<%- include('partials/footer'); %>