<%- include('partials/header'); %>
<body>
  <%- include('partials/header-navbar'); %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-danger justify-content-center" style="text-align: center;" role="alert">
        No puedes entrar aquí! Prueba haciendo <a href="/users/login" class="alert-link">login</a>. Muchas gracias!
        </div>
        <br><br><br><br><br>
      </div>
    </div>
  </div>
    
    
<%- include('partials/footer'); %>