<%- include('partials/header'); %>
<body>
  <%- include('partials/header-navbar'); %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-danger" style="text-align: center;" role="alert">
            Ya estas logueado! Ir al <a href="/Home" class="alert-link">home page</a>.
        </div>
        <br><br><br><br><br>
      </div>
    </div>
  </div>
    
    
<%- include('partials/footer'); %>