
/* BEGIN OF LAYOUT STYLING */
/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
  font-family: 'Varela Round';
  box-sizing: border-box;
}

section{
	background-color: #fff;
}
/* 1. Header*/ 

header {
	width: 100%;
	position: relative;
	z-index: 100;
}

h2 {
	text-align: center;
	padding: auto;
}

.titulo{
	margin-right: 5em;
}

.page-heading {
	padding: 180px 0 60px;
	background-image: url(../images/portada_categorias.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: -158px;
	text-align: center;
	font-family: "Verdana", sans-serif;
	color: rgb(255,255,255);
	font-size: 25px;
}


.assetBlock {
	position: fixed;
	height: 45px;
	color: rgb(255,255,255);
	font-size: 15px;
	text-align: center;
	background-color: rgb(0,0,0);
}


.navbar {
	position: fixed;
	width: 100%;
	text-align: center;
}


.nav-menu {	
	width: 20%;
	height: 25px;
	float: left;
}

.nav-menu.scrolled {
	background-color: red !important;
}

.nav-menu a{
	color: rgb(133, 124, 124);
}

.nav-menu > div:hover > p,  div > a:hover {
	color: #88be4c;
	-webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	-o-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	color: inset 0 -60px 0 0 #222;
	color: inset 0 -75px 0 0 #202020;
}

.basket {
    position: fixed;
	right: -2px;
	top: 60px;
	
}

.boton-carrito{
	margin-right: 1em;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.452);
	border: none;
}

.boton-carrito:hover{
	background-color:#b3b3b38f ;
}

.boton-usuario{
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.452);
	border: none;
}

.boton-usuario:hover{
	background-color:#b3b3b38f ;
}

.profile {
	position: fixed;
	right: 100px;
	top: 60px;
}

.logo { 
    text-align: left;
    display: block;
    float: left;
    background: #88be4c;
    height: 100px;
    margin-left: 40px;
}




body {
	font-size: 300px;
	padding: 0;
	margin: auto;
	margin-bottom: 0;
	line-height: 1.55;
	background-color: rgb(207, 207, 207);
}


.prod-category {
	margin-top: 1em;
	display: block;
	height: 80px;
	padding: auto;
	color: #88be4c;
	font-size: 40px;
	text-align: center;
}

.quantity-sel {
	display: block;
	font-size: 40px;
	font-size: 40px;
}

.product-shop{
	margin: auto;
}

.editar{
	color: #88be4c;
	margin-bottom: 15px;
}

.editar:hover{
	color: #478103;
}

.tab-description{
	margin-left: 20px;
}



body {
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #f5f5f5;
    line-height: 1.6em;
}
a {
	color: #333;
}

small {
	font-size: 85%;
	font-weight: normal;
	text-transform: lowercase;
	color: #999999;
}
:focus {
	outline: none;
}

.info-inner{
	text-align: center;
}
.item-title a{
	color: #88be4c;
	font-size: 22px;
}





/* ========================= BEGIN FOOTER ================================================-*/



footer {
	color: #fff;
	background: #252932;
	margin-top: 3em;
	padding-top: 3em;
}

.footer-ul{
	list-style: none;
	line-height: 2em;
	margin-left: 2em;
}

.co-info {
	margin-right: 0px!important;
    background: #88be4c;
    padding: 1.7em 0.3em 4em 0.3em;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
}

.first-topics {
	position: absolute;
}

.second-topics {
	position: absolute;
	right: 400px;
}


.format {
	color: rgb(255,255,255);
	font-size: 15px;
}

.QR {
	position: absolute;
	right: 35px;
}

.footer-end {

	background-color: rgb(255,255,200);
	
}

.copyright {
	text-align: center;
	font-size: 10px;
	color: rgb(0,0,0);
	margin: 0;
}


/* =================== END FOOTER =================================== */


#bprimary {
	padding: 5px 20px;
	margin: 5px;
	color: #FFFFFF;
	background-color: #88be4c; 
	border: none;
	outline: none;
	border-radius: 5px;
}

/* =================== BEGIN EFFECTS BTN ============================




 CSS Del Formulario */

.products-wrapper{
	text-align: center;
	justify-content: center;
}

.formContenedor{
	justify-content: center;
}

.boton-cerrarSesion{
	padding: 5px 20px;
	margin: 5px;
	color: #FFFFFF;
	background-color: #e75757; 
	border: none;
	outline: none;
	border-radius: 5px;
}