
/* BEGIN OF LAYOUT STYLING */

/* 1. Header*/ 

header {
	width: 100%;
	position: relative;
	z-index: 100;
}

h2{
	text-align: center;
	padding: auto;
}

.page-heading {
	padding: 180px 0 60px;
	background-image: url(../images/portada_categorias.jpg);
	margin-top: -158px;
	text-align: center;
	font-family: "Verdana", sans-serif;
	color: rgb(255,255,255);
	font-size: 25px;
}


.assetBlock {
	height: 45px;
	font-family: "Verdana", sans-serif;
	color: rgb(255,255,255);
	font-size: 15px;
	text-align: center;
	background-color: rgb(0,0,0);
}


.header-container {
	transition: all 0.5s;
	position: relative;
	background: rgba(255,255,255, 0.2);
}

.nav {
	position: fixed;
	width: 95%;
	text-align: center;	
}


.nav-menu {	
	position: relative;
	width: 20%;
	margin-top: -30px;
	font-weight: bold;
	font-size: 15px;
	float: left;
	margin-left: auto;
}

.nav-menu a{
	color: rgb(133, 124, 124);
}

.nav-menu > div:hover > p,  div > a:hover {
	color: #fff;
	-webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	-o-transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	transition: all 0.3s cubic-bezier(0.8, 0, 0, 1);
	color: inset 0 -60px 0 0 #222;
	color: inset 0 -75px 0 0 #202020;
}

.basket {
    position: absolute;
	right: -40px;
	top: 20px;
}

.logo { 
    text-align: left;
    display: block;
    float: left;
    background: #88be4c;
    height: 100px;
    margin-left: 40px;
}




body {
	color: #666;
	font-size: 300px;
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: auto;
	line-height: 1.55;
}


.prod-category {
	display: block;
	height: 80px;
	padding: auto;
	color: #88be4c;
	font-size: 40px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	text-decoration: underline;
}

.product-shop{
	margin: auto;
}

.editar{
	color: #88be4c;
	margin-bottom: 15px;
}

.editar:hover{
	color: #478103;
}

.tab-description{
	margin-left: 20px;
}

button {
    display: inline-block;    
    padding: 0;
    margin: 0;
    vertical-align: top;
   
}

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background: #f5f5f5;
    line-height: 1.6em;
}
a {
	color: #333;
}

small {
	font-size: 85%;
	font-weight: normal;
	text-transform: lowercase;
	color: #999999;
}
:focus {
	outline: none;
}

.info-inner{
	text-align: center;
}
.item-title a{
	color: #88be4c;
	font-size: 22px;
}





/* ======================================================================================= */
/* ======================================================================================= */
/* ================= BEGIN OF PRE-FOOTER ========================= */
our-features-box .container{ padding:0px
}
.our-features-box ul {
    list-style: none;
    margin: auto;
    padding: 0;
    border: none;
    padding:50px 0px;
    overflow: hidden
}
.our-features-box li {
    float: left;
    margin-bottom: 0px;
    text-align: center;
    width: 25.5%;
    padding: 0;
    display: inline-block;
}
.our-features-box li.last {
    margin-right: 0;
    width: 23.5%
}
.our-features-box li.last .our-features-box .feature-box {margin-right:0px!important}
.our-features-box .feature-box {
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 1.4em;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    margin-right: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius:3px;
    padding:25px
}
.free-shipping{ background:#94d7fb; color: #fff; }
.need-help{ background:#685c88; color: #fff; }
.money-back{ background:#fc9cc4; color: #fff; }
.return-policy{ background:#dc4720; color: #fff;margin-right: 0!important; }
.our-features-box .feature-box .content {
  display: block;
  text-align: left;
  margin-left: 50px;
  border-left: 1px rgba(255,255,255, 0.5) solid;
  padding-left: 15px;
}
.our-features-box .feature-box span {
    font-size: 12px;
    display: block;
    font-weight: 400;
    text-transform: none;
    display: block;
    padding-top: 5px;
    color: #fff;
    line-height: 18px;
    font-style: italic;
}




/* ========================= BEGIN FOOTER ================================================-*/



footer {
	color: #fff;
	background: #252932;
	margin-top: 20px;
	padding-top: 50px;
	height: 200px;
}


.col-4 {
	display: flex;
	flex-wrap: wrap;
	float: left;
	justify-content: space-between;
	padding-bottom: 25px;
}


.co-info {
    margin-right: 0px!important;
    background: #88be4c;
    padding: 35px 30px;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
}

.first-topics {
	position: absolute;
}

.second-topics {
	position: absolute;
	right: 400px;
}


.format {
	color: rgb(255,255,255);
	font-size: 15px;
}

.QR {
	position: absolute;
	right: 35px;
}

.footer-end {

	background-color: rgb(255,255,200);
	max-height: 20px;
	
}

.copyright {
	text-align: center;
	font-size: 10px;
	color: rgb(0,0,0);
	margin: 0;
}


/* =================== END FOOTER =================================== */


/* =================== BEGIN EFFECTS BTN ============================ */


button.button {
	display: inline-block;
	border: 0;
	background: #fff;
	padding: 8px 10px;
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	border: 1px solid #666;
	line-height: 1.6em!important;
}
button.button:hover {
    -webkit-transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    -o-transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    box-shadow: inset 0 -45px 0 0 #ed6663;
    border: 2px solid #e0403d;
    color: #fff;
}

.btn-cart{
display: inline-block;
    border: 0;
    background: #fff!important;
    padding: 0px!important;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
    border: 2px #88be4c solid!important;
    -webkit-transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    -o-transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    box-shadow: inset 0 0 0 0 #fff;
	width:auto!important;
	border-radius:0px!important}
	
.btn-cart:before {
    content: '➡';
    font-family: FontAwesome;
    background: #88be4c;
    color: #fff;
    font-size: 16px;
    padding:6px 15px 6px 15px;
    display: inline-block;
	vertical-align: middle;
	line-height:1.3em
}	

.btn-cart span {
    font-weight: bold!important;
    font-size: 12px!important;
    text-transform: uppercase!important;
    color: #333;
    display: inline-block;
    padding: 0px 15px;
	vertical-align: middle;
	font-weight:normal
}

/* CSS Del Formulario */

.products-wrapper{
	text-align: center;
	justify-content: center;
}

.formContenedor{
	justify-content: center;
}
